@media screen and ( max-width: 800px) {
    .pie-pagina .grupo-1 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }  
}     